@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lato&display=swap');

@font-face {
  font-family: 'Autography';
  src: url('./assets/fonts/Autography.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
